@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #FFD700;
    min-height: 100vh;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    font-weight: 400px;
    font-size: normal;
}
header {
    border-image-width: 30px;
    /* position: absolute;
    top: 0;
    left: 0; */
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between; /*Espaço */
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 2em; /*Tamanho da fonte da logo*/
    color: #333;
    pointer-events: none;
}
.navigation a { /*Barra de navegação*/
    text-decoration: none; /*Sublinhado em baixo do elemento*/
    color: #333; /**/
    padding: 6px 15px; /*Preenchimento*/
    border-radius: 20px; /*Raio da borda*/
    margin: 0 10px; /**/
    font-weight: 600; /**/
}
.navigation a:hover, 
.navigation a.active {
    background: #333; /**/
    color: #fff; /**/
} 
.asistematica {
    position: relative; /*Altera a posição do elemento HTML em relação ao local onde ele normalmente aparece*/
    display: flex;/*Permite que os elementos responsivos sejam organizadors automaticamente*/
    justify-content: center; /*Alinhar o text h2*/
    align-items: center; /*Centralizar o h2*/
    height: 100vh; /*Altura do h2*/
}
#text {
    position: absolute; /**/
    font-size: 5em; /**/
    color: #333; /**/
    text-shadow: rgba(0, 0, 0, 2)
}

img {
    margin-right: auto;
    height: 100px;
    
}